.bod {
    background:linear-gradient(rgba(95,44,130, 0.8), rgba(73, 160,157 ,0.7)), url(../images/matatu-2\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 980px;

}

.top {
    padding-top:50px;
    display:flex;
    justify-content: space-between;
}
.logo-section {
    padding-left:20px;
    display: flex;
}
.text > p {
    font-size: 24px;
    color:white;
    padding-left:10px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1;
}
span {
    font-family: 'Yeon Sung', cursive;
    font-size: 40px;
}
